
<div>
    <div class="jumbotron">
        <h1>LTOCAS</h1>
        <h2>Online Examination Portal</h2>
      </div>


<div class="container">
<div class="margins" >

  
    <div class="col-sm-4 align">
<nav>
  <a routerLink="admin-loginpage"><i class="fa fa-user-circle fa-5x" aria-hidden="true"></i><br>Admin</a>
</nav>
    </div>
    <div class="col-sm-4 align">

    <a routerLink="client-loginpage"><i class="fa fa-desktop fa-5x" aria-hidden="true"></i><br>Client</a>
    </div>
    <div class="col-sm-4 align">

    <a routerLink="user-loginpage"><i class="fa fa-users fa-5x" aria-hidden="true"></i><br>Users</a>
    </div>
  
    </div>
    </div>
    <div class="footer fixed-bottom">
      <div class="col-sm-4 align">
          <h4>LtoCas</h4>
          <p>We distinguish ourselves from other IT companies by delivering projects on time and on budget
             and we have an excellent customer service and support record as indicated by hundreds of surveys
              received from satisfied clients. 
            </p>

      </div>
      <div class="col-sm-4 align">
          <h4>Contact Us</h4>
          <p>
1 st floor, New No 3/382, Rajiv Gandhi Salai,<br>
OMR Road, Mettukuppam, Thuraipakkam ,<br>
Chennai 600097, TamilNadu,
            India. <br>
            <b>Phone:</b> +91 044 48604831 , 9840989925<br>
            <b>Email:</b> adhinarayanan@ltocas.com
      </div>
      <div class="col-sm-4 align">
          <h4>Our Newsletter</h4>
          <p>We distinguish ourselves from other IT companies by delivering projects on time and on budget and we have an excellent customer service and support record as indicated by hundreds of surveys received from satisfied clients. </p>

      </div>

      
    </div>

  </div>
  <router-outlet></router-outlet>


